* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.firstpage {
  height: 800px;
  background-image: url(img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.firstpage-mob {
  display: none;
}

.minigames-mob {
  display: none;
}

.group {
  position: absolute;
  right: 0px;
  top: 0px;
}
.group__star4 {
  position: absolute;
  right: 344px;
  top: 568px;
}
.group__star5 {
  position: absolute;
  right: 455px;
  top: 538px;
}

.star2 {
  position: absolute;
  left: 63px;
  top: 94px;
}

.star3 {
  position: absolute;
  left: 156px;
  top: 69px;
}

.content {
  position: absolute;
  left: 120px;
  top: 196px;
  width: 769px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}
.content__h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: left;
}
.content__p1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
}
.content__button {
  margin-top: 24px;
  width: 247px;
  height: 66px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
  font: inherit;
  font-size: 24px;
  line-height: 142%;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  line-height: 66px;
  cursor: pointer;
  text-decoration: none;
}
.content__button:hover {
  color: #000000;
  background-color: #ffffff;
  transition: 1s;
}

html {
  scroll-behavior: smooth;
}

.games {
  padding-top: 94px;
  height: 1470px;
  background-color: #202027;
}

.games-text {
  height: 198px;
  box-sizing: border-box;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  margin-bottom: 72px;
}
.games-text__h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}
.games-text__p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.star1-11 {
  position: absolute;
  left: 25px;
  top: 1570px;
}

.star1-12 {
  position: absolute;
  left: 40px;
  top: 1622px;
}

.star1-1 {
  position: absolute;
  right: -143px;
  top: 877px;
  z-index: 0;
}

.block {
  height: 1056px;
  margin-bottom: 92px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.column1 {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 0;
}

.column2 {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 0;
}

.column3 {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 0;
}

.card1 {
  cursor: pointer;
}
.card1__img {
  border-radius: 30px 30px 0 0;
}
.card1__title {
  height: 159px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 0 0 30px 30px;
  padding-top: 32px;
  padding-left: 32px;
}
.card1__number {
  height: 36px;
  width: 108px;
  background-color: #f7f7f7;
  border-radius: 53px;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
  font-size: 16px;
  color: #202027;
}
.card1__text {
  margin-top: 16px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202027;
}

.card1:hover {
  transform: scale(1.06349);
}

.card2 {
  cursor: pointer;
}
.card2__img {
  border-radius: 30px 30px 0 0;
}
.card2__title {
  height: 237px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 0 0 30px 30px;
  padding-top: 32px;
  padding-left: 32px;
}
.card2__number {
  height: 36px;
  width: 108px;
  background-color: #f7f7f7;
  border-radius: 53px;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
  font-size: 16px;
  color: #202027;
}
.card2__text {
  margin-top: 16px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202027;
}

.card2:hover {
  transform: scale(1.06349);
}

.card3 {
  cursor: pointer;
}
.card3__img {
  border-radius: 30px 30px 0 0;
}
.card3__title {
  height: 198px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 0 0 30px 30px;
  padding-top: 32px;
  padding-left: 32px;
}
.card3__number {
  height: 36px;
  width: 108px;
  background-color: #f7f7f7;
  border-radius: 53px;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
  font-size: 16px;
  color: #202027;
}
.card3__text {
  margin-top: 16px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202027;
}

.card3:hover {
  transform: scale(1.06349);
}

.card4 {
  cursor: pointer;
}
.card4__img {
  border-radius: 30px 30px 0 0;
}
.card4__title {
  height: 198px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 0 0 30px 30px;
  padding-top: 32px;
  padding-left: 32px;
}
.card4__number {
  height: 36px;
  width: 108px;
  background-color: #f7f7f7;
  border-radius: 53px;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
  font-size: 16px;
  color: #202027;
}
.card4__text {
  margin-top: 16px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202027;
}

.card4:hover {
  transform: scale(1.06349);
}

.card5 {
  cursor: pointer;
  z-index: 1;
}
.card5__img {
  border-radius: 30px 30px 0 0;
}
.card5__title {
  height: 159px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 0 0 30px 30px;
  padding-top: 32px;
  padding-left: 32px;
}
.card5__number {
  height: 36px;
  width: 108px;
  background-color: #f7f7f7;
  border-radius: 53px;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
  font-size: 16px;
  color: #202027;
}
.card5__text {
  margin-top: 16px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202027;
}

.card5:hover {
  transform: scale(1.06349);
}

.card6 {
  cursor: pointer;
}
.card6__img {
  border-radius: 30px 30px 0 0;
}
.card6__title {
  height: 237px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 0 0 30px 30px;
  padding-top: 32px;
  padding-left: 32px;
}
.card6__number {
  height: 36px;
  width: 108px;
  background-color: #f7f7f7;
  border-radius: 53px;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
  font-size: 16px;
  color: #202027;
}
.card6__text {
  margin-top: 16px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202027;
}

.card6:hover {
  transform: scale(1.06349);
}

.minigames {
  height: 3500px;
  background: url(img/Star6-minigames.png) 96.45% 3.6% no-repeat, url(img/Star7-minigames.png) 88.7% 2.66% no-repeat, url(img/Star8-minigames.png) 96.3% 96.2% no-repeat, url(img/Star10-minigames.png) 86.7% 97.6% no-repeat;
  background-color: #202027;
  display: flex;
  justify-content: center;
}

.minigames-block {
  padding-top: 46px;
  margin-bottom: 144px;
  max-width: 1200px;
  width: 100%;
}
.minigames-block__h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.minigames-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 32px;
}

.minigames-card-content {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px 0 0 30px;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}
.minigames-card-content__h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 24px;
}
.minigames-card-content__p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 36px;
}
.minigames-card-content__a {
  width: 247px;
  height: 66px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
  font: inherit;
  font-size: 24px;
  line-height: 142%;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  line-height: 66px;
  cursor: pointer;
  text-decoration: none;
}
.minigames-card-content__a:hover {
  color: #000000;
  background-color: #ffffff;
  transition: 1s;
}

.minigames-card-img {
  grid-column: span 1;
  max-width: 600px;
  width: 100%;
  border-radius: 0 30px 30px 0;
}

.minigames-card-content1 {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 30px 30px 0;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}

.minigames-card-img1 {
  grid-column: span 1;
  max-width: 600px;
  width: 100%;
  border-radius: 30px 0 0 30px;
}

.footer {
  display: block;
  height: 150px;
  background-color: #BCEC30;
  text-align: center;
}
.footer__p {
  font-weight: 600;
  font-size: 24px;
  line-height: 150px;
}

@media (max-width: 1024px) {
  .games {
    padding-left: calc(50% - 417px);
    padding-right: calc(50% - 417px);
    height: 2000px;
  }
  .column1 {
    grid-column: span 3;
    flex-direction: row;
  }
  .column2 {
    grid-column: span 3;
    flex-direction: row;
  }
  .column3 {
    grid-column: span 3;
    flex-direction: row;
  }
  .card2 {
    z-index: 1;
  }
  .minigames {
    padding-left: calc(50% - 417px);
    padding-right: calc(50% - 417px);
    height: 2600px;
  }
  .minigames-block {
    max-width: 1000px;
    width: 100%;
  }
  .minigames-card-content {
    padding-top: 12px;
  }
  .minigames-card-content1 {
    padding-top: 12px;
  }
  .minigames-card-content__h3 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 2px;
  }
  .minigames-card-content1__h3 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 2px;
  }
  .minigames-card-content__p {
    margin-bottom: 2px;
  }
  minigames-card-content1__p {
    margin-bottom: 2px;
  }
}
@media (max-width: 768px) {
  .content {
    left: 0px;
  }
  .column1 {
    gap: 12px;
  }
  .column2 {
    gap: 12px;
  }
  .column3 {
    gap: 12px;
  }
  .minigames {
    padding-left: calc(50% - 380px);
    padding-right: calc(50% - 380px);
  }
  .minigames-card-content__p {
    font-size: 16px;
    line-height: 20px;
  }
  .minigames-card-content1__p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 425px) {
  .firstpage {
    display: none;
  }
  .minigames {
    display: none;
  }
  .games {
    display: none;
  }
  .star1-1 {
    display: none;
  }
  .star1-11 {
    display: none;
  }
  .star1-12 {
    display: none;
  }
  /*.star-mob1 {
      position: absolute;
      top: -90px;
      left: 220px;
      border: #202027;

  }*/
  .star-mob2 {
    position: absolute;
    top: 97px;
    left: 37px;
  }
  .star-mob3 {
    position: absolute;
    top: 64px;
    left: 91px;
  }
  .firstpage-mob {
    display: block;
    height: 700px;
    background-color: #E1ff8f;
    background-position: center;
    /*background-size: cover;*/
    background-image: url(img/star-mob1.png);
    background-repeat: no-repeat;
    background-position: 265px -100px;
  }
  .content-mob {
    width: 100%;
    padding-top: 147px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  .content-mob__h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    width: 262px;
    text-align: center;
    margin: 0 auto;
  }
  .content-mob__p1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    width: 296px;
    margin: 0 auto;
  }
  .content-mob__button {
    margin: 12px auto 0;
    width: 285px;
    height: 55px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 60px;
    font: inherit;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    text-decoration: none;
  }
  .minigames-mob {
    display: flex;
    justify-content: center;
    height: 3740px;
    background-color: #202027;
  }
  .minigames-mob-content {
    padding-top: 48px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .minigames-mob-content__h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: rgb(255, 255, 255);
    margin-bottom: 48px;
  }
  .minigame {
    cursor: pointer;
    border-radius: 27px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
  }
  .minigame__img {
    max-width: 343px;
    border-radius: 27px 27px 0 0;
    width: 100%;
  }
  .game-content {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 29px 29px 32px;
    border-radius: 0 0 27px 27px;
    max-width: 343px;
    width: 100%;
  }
  .game-content__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #202027;
    margin-bottom: 16px;
  }
  .game-content__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
  }
  .game-content__button {
    display: block;
    margin: 32px auto 0;
    max-width: 285px;
    width: 100%;
    height: 55px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 60px;
    font: inherit;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    text-decoration: none;
  }
  .footer {
    display: block;
    height: 100px;
    background-color: #BCEC30;
    text-align: center;
  }
  .footer__p {
    font-weight: 600;
    font-size: 16px;
    line-height: 100px;
  }
}
@media (max-width: 375px) {
  .firstpage-mob {
    background-position: 215px -100px;
  }
}/*# sourceMappingURL=style.css.map */