* {
    margin: 0;
    padding: 0;
}


.firstpage {
        height: 800px;
        background-image: url(img/header.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
.group {
    position: absolute;
    right: 0px;
    top: 0px;
    &__star4 {
        position: absolute;
        right: 344px;
        top: 568px;
    }
    &__star5 {
        position: absolute;
        right: 455px;
        top: 538px;
    }
}
.star2 {
    position: absolute;
    left: 63px;
    top: 94px;
}
.star3 {
    position: absolute;
    left: 156px;
    top: 69px;
}
.content {
    position: absolute;
    left: 120px;
    top: 196px;
    width: 769px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    &__h1 {
            font-weight: 700;
            font-size: 64px;
            line-height: 78px;
            text-align: left;
    }
    &__p1 {
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            text-align: left;
    }
    &__button {
            margin-top: 24px;
            width: 247px;
            height: 66px;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 60px;
            font: inherit;
            font-size: 24px;
            line-height: 142%;
            color: #FFFFFF;
            background-color: #000000;
            text-align: center;
            line-height: 66px;
            cursor: pointer;
    }
    &__button:hover {
                color: #000000;
                background-color: #ffffff;
                transition: 1s;
    }
}

html {
    scroll-behavior: smooth;
}
.games {
    padding-top: 94px;
    height: 1242px;
    background-color: #000000;
    
    
}
.block {
    height: 1056px;
    margin-bottom: 92px;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    
    
    
}
.column1 {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 0;
}
.column2 {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 0;
}
.column3 {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 0;
}
.card1 {
    cursor: pointer;
    &__img{
        border-radius: 30px 30px 0 0;
    }
    &__title {
        height: 159px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 0 0 30px 30px;
        padding-top: 32px;
        padding-left: 32px;
    }
    &__number {    
    height: 36px; 
    width: 108px;   
    background-color: #f7f7f7;
    border-radius: 53px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #202027;
    }   
    &__text {
    margin-top: 16px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #202027;  
    }
}
.card1:hover {
    transform: scale(1.06349);
}
.card2 {
    cursor: pointer;
    &__img{
        border-radius: 30px 30px 0 0;
    }
    &__title {
        height: 237px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 0 0 30px 30px;
        padding-top: 32px;
        padding-left: 32px;
    } 
    &__number {    
    height: 36px; 
    width: 108px;   
    background-color: #f7f7f7;
    border-radius: 53px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #202027;
    }   
    &__text {
    margin-top: 16px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #202027;  
    }  
}
.card2:hover {
    transform: scale(1.06349);
}
.card3 {
    cursor: pointer;
    &__img{
        border-radius: 30px 30px 0 0;
    }
    &__title {
        height: 198px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 0 0 30px 30px;
        padding-top: 32px;
        padding-left: 32px;
    } 
    &__number {    
    height: 36px; 
    width: 108px;   
    background-color: #f7f7f7;
    border-radius: 53px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #202027;
    }   
    &__text {
    margin-top: 16px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #202027;  
    }  
}
.card3:hover {
    transform: scale(1.06349);
}
.card4 {
    cursor: pointer;
    &__img{
        border-radius: 30px 30px 0 0;
    }
    &__title {
        height: 198px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 0 0 30px 30px;
        padding-top: 32px;
        padding-left: 32px;
    }  
    &__number {    
    height: 36px; 
    width: 108px;   
    background-color: #f7f7f7;
    border-radius: 53px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #202027;
    }   
    &__text {
    margin-top: 16px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #202027;  
    } 
}
.card4:hover {
    transform: scale(1.06349);
}
.card5 {
    cursor: pointer;
    &__img{
        border-radius: 30px 30px 0 0;
    }
    &__title {
        height: 159px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 0 0 30px 30px;
        padding-top: 32px;
        padding-left: 32px;
    }
    &__number {    
    height: 36px; 
    width: 108px;   
    background-color: #f7f7f7;
    border-radius: 53px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #202027;
    }   
    &__text {
    margin-top: 16px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #202027;  
    }   
}
.card5:hover {
    transform: scale(1.06349);
}
.card6 {
    cursor: pointer;
    &__img{
        border-radius: 30px 30px 0 0;
    }
    &__title {
        height: 237px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 0 0 30px 30px;
        padding-top: 32px;
        padding-left: 32px;
    }
    &__number {    
    height: 36px; 
    width: 108px;   
    background-color: #f7f7f7;
    border-radius: 53px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #202027;
    }   
    &__text {
    margin-top: 16px;
    height: 39px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #202027;  
    }   
}
.card6:hover {
    transform: scale(1.06349);    
}